version: "3.8"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      SNOWFLAKE_ACCOUNT: ${SNOWFLAKE_ACCOUNT}
      SNOWFLAKE_USER: ${SNOWFLAKE_USER}
      SNOWFLAKE_PRIVATE_KEY_PATH: /run/secrets/snowflake_key
      SNOWFLAKE_PRIVATE_KEY_PASSPHRASE: ${SNOWFLAKE_PRIVATE_KEY_PASSPHRASE:-}
      SNOWFLAKE_WAREHOUSE: ${SNOWFLAKE_WAREHOUSE:-COMPUTE_WH}
      SNOWFLAKE_DATABASE: ${SNOWFLAKE_DATABASE:-DEPLOYMENTS_DB}
      SNOWFLAKE_SCHEMA: ${SNOWFLAKE_SCHEMA:-PUBLIC}
      # Authentication
      AUTH_ENABLED: ${AUTH_ENABLED:-true}
      GITHUB_OIDC_ISSUER: ${GITHUB_OIDC_ISSUER:-https://token.actions.githubusercontent.com}
      GITHUB_OIDC_AUDIENCE: ${GITHUB_OIDC_AUDIENCE:-deployment-queue-api}
      # GitHub API (for CLI auth)
      GITHUB_API_URL: ${GITHUB_API_URL:-https://api.github.com}
      GITHUB_API_VERSION: ${GITHUB_API_VERSION:-2022-11-28}
      ALLOWED_ORGANISATIONS: ${ALLOWED_ORGANISATIONS:-}
      # Cache TTLs
      JWKS_CACHE_TTL: ${JWKS_CACHE_TTL:-3600}
      ORG_MEMBERSHIP_CACHE_TTL: ${ORG_MEMBERSHIP_CACHE_TTL:-300}
      DEV_ORGANISATION: ${DEV_ORGANISATION:-local-dev}
    secrets:
      - snowflake_key

secrets:
  snowflake_key:
    file: ./.secrets/rsa_key.p8
