version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      SNOWFLAKE_ACCOUNT: ${SNOWFLAKE_ACCOUNT}
      SNOWFLAKE_USER: ${SNOWFLAKE_USER}
      SNOWFLAKE_PRIVATE_KEY_PATH: /run/secrets/snowflake_key
      SNOWFLAKE_PRIVATE_KEY_PASSPHRASE: ${SNOWFLAKE_PRIVATE_KEY_PASSPHRASE:-}
      SNOWFLAKE_WAREHOUSE: ${SNOWFLAKE_WAREHOUSE:-COMPUTE_WH}
      SNOWFLAKE_DATABASE: ${SNOWFLAKE_DATABASE:-DEPLOYMENTS_DB}
      SNOWFLAKE_SCHEMA: ${SNOWFLAKE_SCHEMA:-PUBLIC}
    secrets:
      - snowflake_key

secrets:
  snowflake_key:
    file: ./secrets/rsa_key.p8
